In [ ]:
import pandas as pd
import numpy as np

In [18]:
# Đọc dữ liệu
df = pd.read_csv('project_heart_disease.csv')
display(df.info())
display(df.head())

#Xử lí giá trị thiếu
missing_values = df.isnull().sum()
missing_values_count = missing_values.sum()
print("Missing Values:\n", missing_values)
print(f"Total missing values: {missing_values_count}")
for col in df.select_dtypes(include=[np.number]).columns:
    df[col].fillna(df[col].mean(), inplace = True)
for col in df.select_dtypes(include=['object']).columns:
    df[col].fillna(df[col].mode()[0], inplace=True) 

#Xử lí giá trị trùng lặp
duplicate_count = df.duplicated().sum()
print(f"Total duplicate values:{duplicate_count}")
df = df.drop_duplicates()

#Xuất ra file mới
df.to_csv('Preprocessing_project_heart_disease.csv', index = False)

# Kiểm tra lại giá trị thiếu sau khi xử lý
missing_values_after = df.isnull().sum()
missing_values_count_after = missing_values_after.sum()
print(f"Total missing values after processing: {missing_values_count_after}")

# Kiểm tra lại giá trị trùng lặp sau khi xử lý
duplicate_count_after = df.duplicated().sum()
print(f"Total duplicate values after processing: {duplicate_count_after}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9971 non-null   float64
 1   Gender                9981 non-null   object
 2   Blood Pressure        9981 non-null   float64
 3   Cholesterol Level     9970 non-null   float64
 4   Exercise Habits       9975 non-null   object
 5   Smoking               9975 non-null   object
 6   Family Heart Disease  9979 non-null   object
 7   BMI                   9978 non-null   float64
 8   Alcohol Consumption   7414 non-null   object
 9   Stress Level          9978 non-null   object
 10  Heart Disease Status  10000 non-null  object
dtypes: float64(4), object(7)
memory usage: 859.5+ KB

None

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,BMI,Alcohol Consumption,Stress Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,24.991591,High,Medium,No
1,69.0,Female,146.0,286.0,High,No,Yes,25.221799,Medium,High,No
2,46.0,Male,126.0,216.0,Low,No,No,29.855447,Low,Low,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,24.130477,Low,High,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,20.486289,Low,High,No

Missing Values:
 Age                       29
Gender                    19
Blood Pressure            19
Cholesterol Level         30
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
BMI                       22
Alcohol Consumption     2586
Stress Level              22
Heart Disease Status       0
dtype: int64
Total missing values: 2798
Total duplicate values:0
Total missing values after processing: 0
Total duplicate values after processing: 0

C:\Users\DELL\AppData\Local\Temp\ipykernel_2860\3817356005.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace = True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_2860\3817356005.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [27]:
df = pd.read_csv('Preprocessing_project_heart_disease.csv')
summary = pd.DataFrame({
    "Field Name": df.columns,
    "NULL": df.isnull().sum().values,
    "Missing": df.isnull().sum().values,
    "Actual": len(df) - df.isnull().sum().values,
    "Completeness": ((len(df) - df.isnull().sum()) / len(df) * 100).round(2).astype(str) + "%",
    "Cardinality": df.nunique().values,
    "Uniqueness": ((df.nunique() / len(df)) * 100).round(2).astype(str) + "%",
    "Distinctness": ((df.nunique() / len(df)) * 100).round(2).astype(str) + "%"
})
display(summary)

,Field Name,NULL,Missing,Actual,Completeness,Cardinality,Uniqueness,Distinctness
Age,Age,0,0,10000,100.0%,64,0.64%,0.64%
Gender,Gender,0,0,10000,100.0%,2,0.02%,0.02%
Blood Pressure,Blood Pressure,0,0,10000,100.0%,62,0.62%,0.62%
Cholesterol Level,Cholesterol Level,0,0,10000,100.0%,152,1.52%,1.52%
Exercise Habits,Exercise Habits,0,0,10000,100.0%,3,0.03%,0.03%
Smoking,Smoking,0,0,10000,100.0%,2,0.02%,0.02%
Family Heart Disease,Family Heart Disease,0,0,10000,100.0%,2,0.02%,0.02%
BMI,BMI,0,0,10000,100.0%,9979,99.79%,99.79%
Alcohol Consumption,Alcohol Consumption,0,0,10000,100.0%,3,0.03%,0.03%
Stress Level,Stress Level,0,0,10000,100.0%,3,0.03%,0.03%
Heart Disease Status,Heart Disease Status,0,0,10000,100.0%,2,0.02%,0.02%